@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap");

:root {
  --font-color: #eee;
  --secondary-font-color: hsla(0, 0%, 97%, 0.7);
  --link-color: #ef6a3b;
  --background-color: #13151f;
  --secondary-bg-color: #272935;
  --font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--font-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
